%nav
  .wrapper
    = link_to '/' do
      = image_tag 'images/prospxt.png'
    %ul
      %li
        = link_to 'Features', '#features'
      %li
        = link_to 'Pricing', '#pricing'
      %li
        = link_to 'Contact', '#contact'
