---
title: Welcome to Prospxt
---
%nav
  .wrapper
    = link_to '/' do
      = image_tag 'http://placehold.it/150x20'

%section.hero
  %article
    .wrapper
      %h1 Accelerate early traction
      %h2 We help startups generate new users faster and cheaper.
      = link_to 'Start for free', '#', class: 'button'
      %figure
        .circle
          %i.ion-ios-arrow-down

%section.how
  %article
    .wrapper
      %h3 We generate leads, sign ups, and opportunities.
      %h4 Here's how it works:
      %ul
        %li
          = image_tag 'http://placehold.it/300x150'
          %h5 Sign up free
          Tell us about your company.
        %li
          = image_tag 'http://placehold.it/300x150'
          %h5 Set your target
          Tell us about your customer.
        %li
          = image_tag 'http://placehold.it/300x150'
          %h5 Grow smarter
          We'll deliver qualified leads and sign ups.
      %h4
        Flexible, pay as you go pricing.
        = link_to 'See pricing', '#'
