---
title: Welcome to Prospxt
---

= partial 'refills/nav'

%section.hero
  %article
    .wrapper
      %h1 Accelerate early traction
      %h2 We help startups generate new users faster and cheaper.
      = link_to 'Start for free', '#', class: 'button'
      %figure
        = link_to '#how' do
          .circle
            %i.ion-ios-arrow-down

%section#how.how
  %article
    .wrapper
      %h3 We generate leads, sign ups, and opportunities.
      %ul
        %li
          .icon-box
            %i.ion-chatboxes
          %h5 Sign up free
          Tell us about your company.
        %li
          .icon-box
            %i.ion-android-navigate
          %h5 Set your target
          Tell us about your customer.
        %li
          .icon-box
            %i.ion-android-contacts
          %h5 Grow smarter
          We'll deliver qualified leads and sign ups.
      .divider-container
        .divider
          %h4
            Flexible, pay as you go pricing.
            = link_to 'See pricing', '#'

%section.testimonial
  %article
    .wrapper
      %h3
        Breezy HR grew
        %br
        100% in 30 days.
      = link_to 'Start for free', '#', class: 'button secondary'

= partial 'refills/footer'
