---
title: Welcome to Prospxt
---

= partial 'refills/nav'

%section.hero
  %article
    .wrapper
      %h1 Accelerate early traction
      %h2 We help startups generate new users faster and cheaper.
      = link_to 'Start for free', '#', class: 'button'
      %figure
        = link_to '#how' do
          .circle
            %i.ion-ios-arrow-down

%section#how.how
  %article
    .wrapper
      %h3 We generate leads, sign ups, and opportunities.
      %ul
        %li
          .icon-box
            %i.ion-chatboxes
          %h5 Sign up free
          Tell us about your company.
        %li
          .icon-box
            %i.ion-android-navigate
          %h5 Set your target
          Tell us about your customer.
        %li
          .icon-box
            %i.ion-android-contacts
          %h5 Grow smarter
          We'll deliver qualified leads and sign ups.
      .divider-container
        .divider
          %h4
            Flexible, pay as you go pricing.
            = link_to 'See pricing', '#'

-# %section#features.features
-#   %article
-#     .wrapper
-#       %h3 Features
-#       .tabs-container
-#         %ul
-#           %li
-#             = link_to 'Lead Gen', '#', class: 'tab active', target: '1'
-#           %li
-#             = link_to 'Sales Dev', '#', class: 'tab', target: '2'
-#           %li
-#             = link_to 'Promotion', '#', class: 'tab', target: '3'
-#         #tab1.content
-#           %h4 Accelerate awareness, inbound traffic and thought leadership with content in the right places.
-#           %p Referral traffic is the cheapest acquistion channel in the game. We plan, develop and distribute your content to the right channels.
-#           = image_tag 'http://placehold.it/350x150'
-#           %dl
-#             %dt Press Lists
-#             %dd We generate fresh contacts weekly based on your custom goals and product.
-#           %dl
-#             %dt Guest Posts
-#             %dd Our SDRR team manages cold outreach to your top contacts through drip campaigns.
-#           %dl
-#             %dt Content Promotion
-#             %dd Analytics provide insights to potpimize value props, sales cycle and product fit.
-#
-#         #tab2.content{style: 'display:none'}
-#           Tab 2
-#         #tab3.content{style: 'display:none'}
-#           Tab 3

%section.testimonial
  %article
    .wrapper
      %h3
        Breezy HR grew
        %br
        100% in 30 days.
      = link_to 'Start for free', '#', class: 'button secondary'

= partial 'refills/footer'
