---
title: Welcome to Prospxt
---

%section.hero
  %article
    .wrapper
      %h1 Accelerate early traction
      %h2 We help startups generate new users faster and cheaper.
      = link_to 'Start for free', '#', class: 'ui signup-btn button'
      %figure
        = link_to '#how' do
          .circle
            %i.ion-ios-arrow-down

%section#how.how
  %article
    .wrapper
      %h3 We generate leads, sign ups, and opportunities.
      %ul
        %li
          = image_tag 'images/icon-1.png'
          %h5 Sign up free
          Tell us about your company.
        %li
          = image_tag 'images/icon-4.png'
          %h5 Set your target
          Tell us about your customer.
        %li
          = image_tag 'images/icon-3.png'
          %h5 Grow smarter
          We'll deliver qualified leads and sign ups.
      .divider-container
        %h4
          Flexible, pay as you go pricing.
        = link_to 'See pricing', '#', class: 'button'

%section#features.features
  %article
    .wrapper
      %h3 Features
      .tabs-container
        %ul#info-nav
          %li
            = link_to 'Lead Gen', '#', class: 'tab active', target: '1'
          %li
            = link_to 'Sales Dev', '#', class: 'tab', target: '2'
          %li
            = link_to 'Promotion', '#', class: 'tab', target: '3'
        #tab1.content
          %h4 Get accurate, customziable leads delivered to your inbox or CRM as often as you like.
          %p We research and provide customized contacts based on your growth goals, product and target audience. Leads are unique to your business.
          %dl
            %dt Custom research
            %dd Our blend of tech and people, build custom contact lists on the fly.
          %dl
            %dt Plug &amp; play data
            %dd Data is imported to any CRM or automation tool as often as you need new contacts.
          %dl
            %dt Pay as you go
            %dd Plans are built for scrapp startups and emerging enterprises, who need flexibility.

        #tab2.content{style: 'opacity: 0'}
          %h4 Accelerate awareness, inbound traffic and thought leadership with content in the right places.
          %p Referral traffic is the cheapest acquistion channel in the game. We plan, develop and distribute your content to the right channels.
          %dl
            %dt Press Lists
            %dd We generate fresh contacts weekly based on your custom goals and product.
          %dl
            %dt Guest Posts
            %dd Our SDRR team manages cold outreach to your top contacts through drip campaigns.
          %dl
            %dt Content Promotion
            %dd Analytics provide insights to potpimize value props, sales cycle and product fit.
        #tab3.content{style: 'opacity: 0'}
          %h4 We accelerate revenue and build early traction with turnkey sales development services.
          %p Cold prospecting is the most time consuming but cost effective growth strategy. We scale your outbound lead gen process faster than hiring.
          %dl
            %dt Lead generation
            %dd We generate fresh contacts weekly based on your custom goals and product.
          %dl
            %dt Cold prospecting
            %dd Our SDR team manages cold outreach to your top contacts through drip campaigns.
          %dl
            %dt Sales Analysis
            %dd Analytics provide insights to potpimize value props, sales cycle and product fit.

%section.testimonial
  %article
    .wrapper
      %h3
        We helped Breezy HR grow 100% in 30 days.
      = link_to 'Start for free', '#', class: 'ui signup-btn button white'

= partial 'refills/signup-modal'
