---
title: Welcome to Prospxt
---

%section.hero
  %article
    .wrapper
      %h1 Accelerate early traction
      %h2 We help startups generate new users faster and cheaper.
      = link_to 'Get Beta Invite', '#', class: 'ui signup-btn button'
      %figure
        = link_to '#how' do
          .circle
            %i.ion-ios-arrow-down

%section#how.how
  %article
    .wrapper
      %h3 Turnkey sales automation for a more effective funnel.
      %ul
        %li
          = image_tag 'images/icon-1.png'
          %h5 Sign up free
          Tell us about your company.
        %li
          = image_tag 'images/icon-4.png'
          %h5 Set your target
          Tell us about your customer.
        %li
          = image_tag 'images/icon-3.png'
          %h5 Grow smarter
          We'll deliver qualified leads and sign ups.
      .divider-container
        %h4
          Flexible, pay as you go pricing.
        = link_to 'See pricing', '/pricing.html', class: 'button'

%section#features.features
  %article
    .wrapper
      %h3 Sales Acceleration Workflows
      .tabs-container
        %ul#info-nav
          %li
            = link_to 'Lead Gen', '#', class: 'tab active', target: '1'
          %li
            = link_to 'Sales Dev', '#', class: 'tab', target: '2'
          %li
            = link_to 'Inbound', '#', class: 'tab', target: '3'
        #tab1.content
          %h4 Get custom, accurate prospects delivered to your account, inbox or CRM as often as you like.
          %p We research and enrich a contact database based on your growth goals and target audience. Prospects are unique to your business and you keep 'em.
          %dl
            %dt Custom research
            %dd Our blend of tech and people, build custom contact lists on the fly.
          %dl
            %dt Plug &amp; play data
            %dd Import to any CRM or automation tool as often as you need new contacts.
          %dl
            %dt Pay as you go
            %dd Flexible plans are built for scrappy startups and emerging enterprises.

        #tab2.content{style: 'opacity: 0'}
          %h4 Automate the top of your funnel with a structured sales process for outbound email and calling.
          %p Cold prospecting is time consuming, we connect your account team to customers sooner. We’ll scale your outbound lead gen process fast and for less than hiring 1 rep.
          %dl
            %dt Lead generation
            %dd We generate fresh contacts weekly based on your custom goals and product.
          %dl
            %dt Cold prospecting
            %dd Our SDR team manages cold outreach to your top contacts through drip campaigns and calls.
          %dl
            %dt Sales Analysis
            %dd Reporting and analytics provide insights to optimize your value prop, sales cycle and product fit.
        #tab3.content{style: 'opacity: 0'}
          %h4 Accelerate awareness, inbound traffic and thought leadership with content in the right places.
          %p We plan, develop and distribute your content to the right media outlets. Referral traffic is the most effective acquisition channel in the game.
          %dl
            %dt Press Lists
            %dd Identify press and outlets that publish stories related to your app, industry or founders.
          %dl
            %dt PR Campaigns
            %dd Send and track better pitch emails direct to custom press lists to increase opportunities.
          %dl
            %dt Opportunities
            %dd Get press opportunities, guest posts and content opportunities sent to you.

%section.testimonial
  %article
    .wrapper
      %h3
        Custom data, outbound sales and inbound leads.
      = link_to 'Get Beta Invite', '#', class: 'ui signup-btn button white'

= partial 'refills/signup-modal'
